<% provide(:title, 'Dashboard') %>
<h1>Dashboard</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
			<th>Price</th>
			<th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @uploads.each do |upload| %>
      <tr>
        <td><%= upload.name %></td>
        <td><%= upload.description %></td>
				<td><%= upload.price %></td>
				<td><%= upload.file.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

